langchain
jupyter
langchain_community
python-dotenv
google-genai
pymysql
cryptography
langchain_experimental
ipykernel
google-generativeai
langchain-huggingface
sentence-transformers
chromadb
langchain-google-genai
langsmith
langchain-community
streamlit